body {
    margin: 0px;
}

nav {
    display: flex;
    align-items: center;
    background-color: #dddddd;
    padding: 10px;
}

nav img {
    height: 40px;
    margin-right: 10px;
}

nav span {
    margin-right: auto;
    font-size: 2em;
    font-weight: bold;
}

nav button {
    margin-left: 1vw;
}

mat-sidenav-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
  
.example-sidenav-content {
    display: flex;
    height: 100%;
}
  
.example-sidenav {
    padding: 20px;
    background-color: #C1E1C1;
}

.button {
    background-color: #f4f4f4;
}