body {
    margin: 0px;
}

nav {
    display: flex;
    align-items: center;
    background-color: #dddddd;
    padding: 10px;
}

nav img {
    height: 40px;
    margin-right: 10px;
}

nav span {
    margin-right: auto;
    font-size: 2em;
    font-weight: bold;
}

nav button {
    margin-left: 1vw;
}