<!-- <mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
        <img src="\assets\random-task.svg" alt="Logo" height="40">
        <button mat-button> Favourites </button>
        <button mat-button> Logout </button>
    </div>
</mat-toolbar> -->

<nav>
    <img src="\assets\random-task.svg" alt="Logo">
    <button mat-stroked-button>Favourites</button>
    <button mat-stroked-button (click)="logout()">Log out</button>
</nav>

<app-character-list></app-character-list>