:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

mat-form-field input {
  margin-top: -6px;
}

mat-card {
  background-color: #D3D3D3;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.mat-input-wrapper {
  display: flex;
  align-items: center;
}

.mat-input-element::placeholder {
  font-style: italic;
}

input {
  background-color: #FFFFFF;
  height: 30px;
}

.error {
  padding: 16px;
  width: 300px;
  color: #FFFFFF;
  background-color: #ff5252;
}

.mat-error {
  margin-bottom: 10px;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button-style {
  background-color: #f4f4f4;
}