:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

mat-form-field input {
  margin-top: -6px;
  text-indent: 5px;
}

mat-card {
  background-color: #d3d3d3;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.mat-input-wrapper {
  display: flex;
  align-items: center;
}

input {
  background-color: #ffffff;
  height: 30px;
}

.placeholder {
  margin-left: 5px;
}

.error {
  padding: 16px;
  width: 300px;
  color: #ffffff;
  background-color: #ff5252;
}

.mat-error {
  margin-bottom: 10px;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button-style {
  background-color: #f4f4f4;
}
