<h2 mat-dialog-title>Edit Character</h2>
<div mat-dialog-content *ngIf="editedCharacter">
  <form #editForm="ngForm" (ngSubmit)="saveChanges()">
    <div class="criteria">
      <mat-form-field>
        <input
          matInput
          placeholder="Name"
          [(ngModel)]="editedCharacter.name"
          name="name"
          required
        />
      </mat-form-field>
    </div>
    <div class="criteria">
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="editedCharacter.status" name="status" required>
          <mat-option value="Alive">Alive</mat-option>
          <mat-option value="Dead">Dead</mat-option>
          <mat-option value="Unknown">Unknown</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="criteria">
      <mat-form-field>
        <input
          matInput
          placeholder="Species"
          [(ngModel)]="editedCharacter.species"
          name="species"
          required
        />
      </mat-form-field>
    </div>
    <div class="criteria">
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select [(ngModel)]="editedCharacter.gender" name="gender" required>
          <mat-option value="Female">Female</mat-option>
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Genderless">Genderless</mat-option>
          <mat-option value="Unknown">Unknown</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="buttons">
      <button mat-stroked-button type="submit" [disabled]="editForm.invalid">
        Save Changes
      </button>
    </div>
    <div class="buttons">
      <button mat-stroked-button mat-dialog-close>Cancel</button>
    </div>
  </form>
</div>
