<app-login></app-login>
<!-- <app-header></app-header> -->
<router-outlet></router-outlet>


<!-- <app-login (menu)='open($event)'>Your Form</app-login> -->
  
<!-- <app-login [error]="'Username or password invalid'" (menu)='open($event)'>Your Form With Error Message</app-login>
 -->


<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle>
<mat-card>
  try
    <mat-card-content>

    </mat-card-content>
</mat-card> -->

<!-- <app-login (menu)='open($event)'>Your Form</app-login>
  
<app-login [error]="'Username or password invalid'" (menu)='open($event)'>Your Form With Error Message</app-login> -->