.header {
    display: flex;
    align-items: center;
    margin: 1vw;
  
    button {
      margin-right: 1vw;
    }
  
    h1 {
      margin: 0;
      font-size: 2em;
      font-weight: bold;
    }
}
  
.row {
    text-align: center;
}
  
.character-item {
  margin: 0 5px;
  display: inline-block;

  img {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  img:hover {
    transform: scale(1.1);
    filter: brightness(60%);
  }
}

.character-content {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.character-content img {
  margin-right: 5px;
}

.character-content button {
  margin-top: auto;
}