<h2 mat-dialog-title>{{ data.name }}</h2>
<div mat-dialog-content>
  <img [src]="data.image" alt="Character Image">
  <p>Gender: {{ data.gender }}</p>
  <p>Species: {{ data.species }}</p>
  <p>Location Name: {{ data.location?.name }}</p>
  <div class="button-container">
  <button mat-stroked-button (click)="addToFavourites()">+ Favourites</button>
  <button mat-stroked-button (click)="removeFromFavourites()">- Favourites</button>
  <button mat-stroked-button (click)="closeModal()">Cancel</button>
</div>
</div>